<h2>News articles in support of the author</h2>

<!-- TODO Update the links here as blocks with some content from each site. -->
<a href="https://www.facebook.com/supportperumalmurugan">Most of the articles can be found here. Will update this page with links soon</a>
