<h2>Author's Note</h2>

<div class="row">
	<div class="span4 pull-left">
		This is what author Perumal Murugan had to say after the series of attack on the book and "so-called" peace meeting.
		<br>
		"Perumal Murugan the writer is dead. As he is no God, he is not going to resurrect himself. He also has no faith in rebirth. An ordinary teacher, he will live as P. Murugan. Leave him alone."
	</div>
</div>
