<h2>Chapters of the book, 'One Part Woman'</h2>
<ul>
<li><%= link_to "Chapter 1", chapters_chap1_path %></li>
<li><%= link_to "Chapter 2", chapters_chap2_path %></li>
<li><%= link_to "Chapter 3", chapters_chap3_path %></li>
<li><%= link_to "Chapter 4", chapters_chap4_path %></li>
</ul>